body {
    width: 85%;
    margin: auto;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 4rem;
}

h2 {
    margin: 5px;
    padding: 2px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-bottom: 2.5px solid hotpink;
}

.header-child {
    flex:1;
    margin: 20px;
}

#button-list-container {
    padding: 5px;
    margin: 20px;
}

button {
    padding: 5px;
    margin: 5px;
    background: black;
    color: white;
}

#gif-view {
    width: 50%;
    margin: auto;
    border-right: 0.5px solid lightslategrey;
    border-left: 0.5px solid lightslategrey;
}

.gif-container {
    padding: 15px;
    margin: 10px;
    text-align: center;
    background: turquoise;
    color: hotpink;
    border: 1px solid hotpink;
}